[2014-11-20 11:37] SimonSimCity opened #1 "Add version of JAR to the filename"
Currently the JAR file is somewhere after 1.0.11 - I guess it's 553a1d2ec15b3d34f76aff720d42de2f663eb55f (https://github.com/google/ExoPlayer/commits/master).

Please add the JAR file in the latest version - and not somewhere between two releases.

I tried to build the JAR file, but it failed. Maybe it works for you ...

Here's what I got in detail as error:

[code]

Reported it to the original re

[2014-11-20 12:47] #1 closed, assigned to nobody

[2014-11-20 16:40] CMyhillWorkDev opened #3 "Namespaces do not exist"
When I build the solution I get the following errors;

1>W:\ExoPlayerXamarin-master\ExoPlayer\obj\Debug\generated\src\Com.Google.Android.Exoplayer.Chunk.Chunk.cs(9,112,9,118): error CS0234: The type or namespace name 'Loader' does not exist in the namespace 'Com.Google.Android.Exoplayer.Upstream' (are you missing an assembly reference?)
1>W:\ExoPlayerXamarin-master\ExoPlayer\obj\Debug\generated\sr

[2015-01-15 15:24] martijn00 commented on #3
This is fixed in the latest updates

[2015-01-15 15:24] #3 closed

[2015-08-16 02:20] Shirley923 opened #5 "Method not found 'Android.Runtime.JNIEvn.CallStaticOjbectMethod"
Hi Martijn,
       I download your code, and running with Android 5.0, it throw error "Method not found 'Android.Runtime.JNIEvn.CallStaticOjbectMethod" on line "mediaPlayer = Com.Google.Android.Exoplayer.ExoPlayerFactory.NewInstance(1)", I'm not sure how to resolve the problem, any suggestions?
Thanks,
Shirley

[2015-08-16 02:54] martijn00 commented on #5
Thanks for reporting! I'll look into this.

[2015-09-06 02:52] adamfisher opened #6 "Support ExoPlayer r1.4.2"
This is a great library! Any idea when support for r1.4.2 might be available on Nuget? It looks like a ton of new capability and quality improvements have happened since 1.3.3. Most notable being the automatic format detection for regular container formats.

https://github.com/google/ExoPlayer/blob/dev/RELEASENOTES.md#r142

[2015-09-06 02:55] adamfisher opened #7 "Add JavaDocs Documentation"
Request to add JavaDocs in the bindings for improved documentation and parameter names that more closely matches the native library.
- https://developer.xamarin.com/guides/android/advanced_topics/java_integration_overview/binding_a_java_library_(.jar)/naming_parameters_with_javadoc/
- https://forums.xamarin.com/discussion/11121/including-javadocs-in-a-binding-library

[2015-09-06 03:06] adamfisher commented on #6
Attempted to replace the existing jar library but found some incompatibilities.

[code]

[2015-09-06 15:28] martijn00 commented on #6
I can look into it, but i am not sure when i have time. I would accept a pull request if you can make one.

[2015-09-09 15:07] martijn00 commented on #6
i've updated to 1.4.2 but it is untested.

[2015-09-12 18:02] adamfisher commented on #7
Found the [JavaDocs jar for r1.4.2](https://bintray.com/google/exoplayer/exoplayer/view#files) but having issues integrating it. I tried unzipping the docs and placing them in a folder called "JavaDocs" in the same folder as the binding project. I also tried `Java7DocPaths` as recommended in that forum thread but the documentation/parameter names on methods are not getting updated.

[code]

[2015-09-13 17:18] #6 closed

[2015-11-26 13:23] bsysop opened #9 "iOS"
Maybe this is really stupid, but, have some chance to do this work for iOS?

[2015-11-26 13:39] martijn00 commented on #9
ExoPlayer is a component made by Google and will only work on Android. If you are looking for a mediaplayer for iOS i would recommend my other library: https://github.com/martijn00/XamarinMediaManager/blob/master/MediaManager/MediaManager.Plugin.iOSUnified/MediaManagerImplementation.cs

[2015-11-26 13:39] #9 closed

[2015-11-26 13:40] bsysop commented on #9
Great, thank you @martijn00

[2015-12-01 07:18] MKuckert commented on #7
Tried to use the docs from here https://github.com/google/ExoPlayer/tree/gh-pages but just some parameters got renamed...

[2015-12-01 07:28] MKuckert commented on #5
Just checked the source on an Android 5.0.1 AVD - everything works good...

@Shirley923 Can you provide more informations about the device you used?

[2016-01-14 00:51] dspacey89 opened #12 "OnAudioTrackUnderrun(int, long, long) is missing"
Hi,

I keep getting the following when I compile the zip folder under 1.5.3. 1.5.2 works fine.

VideoPlayer' does not implement interface member 'MediaCodecAudioTrackRenderer.IEventListener.OnAudioTrackUnderrun(int, long, long)

I confirmed that this method is not implemented in VideoPlayer.

[2016-01-14 11:00] martijn00 commented on #12
I am not seeing this error. Can you provide a sample to reproduce this?

[2016-01-14 19:34] dspacey89 commented on #12
I compiled it using VS2015 on Win10. I'll try it again later today and get back with you.

[2016-01-15 05:42] dspacey89 opened #13 "Operator '==' cannot be applied to operands of type 'string' and 'int'"
Getting this error in PlayerActivity.cs

        private static string BuildTrackIdString(MediaFormat format)
		{
			return format.TrackId == MediaFormat.NoValue
				? ""
				: String.Format(Locale.Us, " (%d)", format.TrackId);
		}

Looks like TrackId and NoValue are of different types.

[2016-01-15 05:52] dspacey89 commented on #12
I'm still getting this error. I even tried Xamarin Studio. If you look at VideoPlayer, it implements MediaCodecAudioTrackRenderer.IEventListener which has OnAudioTrackUnderrun method. This method is missing in VideoPlayer. Maybe it has not been checked in to source control?

[2016-01-16 15:46] martijn00 commented on #12
I thought you ment in the library, but i see that it is in the sample. Maybe @MKuckert can take a look?

[2016-01-18 07:59] MKuckert commented on #12
This pull request fixes the problem: https://github.com/martijn00/ExoPlayerXamarin/pull/14

[2016-01-18 07:59] MKuckert commented on #13
This merge request fixes the problem: https://github.com/martijn00/ExoPlayerXamarin/pull/14

[2016-01-18 08:00] MKuckert commented on #5
@martijn00 I think we can close this then...

[2016-01-18 08:01] #5 closed

[2016-01-18 08:39] #13 closed

[2016-01-18 08:39] #12 closed

[2016-01-25 17:26] piandcache opened #17 "Crash while streaming live HLS"
Keep getting the attached native fail. Running only on API 16 (4.1.2) Nexus 7 (WIFI)

Not sure what it is.

[[EventLogger] videoFormat [15.65, 1, 0].txt](https://github.com/martijn00/ExoPlayerXamarin/files/103575/EventLogger.videoFormat.15.65.1.0.txt)

[2016-01-26 14:04] ecodrive opened #18 "Xamarin.Android.XamarinAndroidException: error XA2006:"
When the APK for publish is generated, show the following error
Xamarin.Android.XamarinAndroidException: error XA2006: Reference to metadata item 'Android.Media.PlaybackParams' (defined in 'ExoPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null') from 'ExoPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' could not be resolved. ---> Mono.Cecil.ResolutionException: Failed to r

[2016-02-12 20:15] adrianknight89 opened #19 "Update sample code so it runs for 1.5.4"
I can't compile and run the sample code in VS2015.

'VideoPlayer' does not implement interface member 'DashChunkSource.IEventListener.OnAvailableRangeChanged(int, ITimeRange)'

[2016-02-13 07:24] adrianknight89 opened #20 "Progress changed and headphones unplugged notification"
Hi,

Sorry, I ended up changing the title a few times since I found solutions on my own. However, I need to do two things:
- Progress changed: How do you track progress? I have a custom slider so I need to update its value as the media progresses.
- Headphones unplugged; How can I receive a notification when headphones are unplugged?

[2016-02-13 17:02] adrianknight89 commented on #19
@MKuckert

[2016-02-15 15:20] pottabathini opened #21 "Retain played media in buffer unless space is actually needed to buffer further ahead"
@martijn00 we are using ExoPlayer to play .MP4 files which is playing very well but there is a problem with seek. When we backward the seek bar it is not retain the buffered content.

The same issue already reported in original Android Exoplayer @ [https://github.com/google/ExoPlayer/issues/896](url) and it got solved in the latest version.

Could you please update the bindings for us. We are rela

[2016-02-15 15:38] martijn00 commented on #21
Thanks for notifying. I'll try to update this as soon as i have time.

[2016-02-15 17:49] adrianknight89 commented on #20
I should add I'm looking at the sample VideoPlayer class which, I believe, is supposed to be an abstraction around ExoPlayer.

[2016-02-19 09:49] nunohorta commented on #19
same here. I can't get my project to compile after the last update

[2016-03-03 12:31] martijn00 commented on #19
This will be fixed by @bspinner soon!

[2016-03-03 12:31] #19 closed

[2016-03-03 21:01] ecodrive opened #24 "error en release build version 1.5.6"
this error is in release build
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Xamarin.Android.XamarinAndroidException: error XA2006: Reference to metadata item 'Android.Media.PlaybackParams' (defined in 'ExoPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null') from 'ExoPlayer, Version=1.0.0.0, Culture=neutral, PublicKey

[2016-03-05 15:31] SergioZgz opened #25 "Mistake on documentation"
Hi,

I think you should change Documentation on main page, MediaCodecAudioTrackRenderer dont accept 2 params, the correct one could be for example:

TrackRenderer aRenderer = MediaCodecAudioTrackRenderer(sampleSource, MediaCodecSelector.Default);

Thanks for your work :)

[2016-03-06 19:38] martijn00 commented on #25
Thanks! I've corrected this. A full sample is also available for more insights.

[2016-03-06 19:38] #25 closed

[2016-03-10 16:36] thibmo commented on #24
I had the same issue today, was fixed by compiling against API 23 (Android 6.0).
I was initially compiling to 5.1.1 (API 22) which caused an identical error.

[2016-03-10 17:18] #24 closed

[2016-05-13 13:49] martijn00 commented on #21
Bindings are updated to 1.5.8

[2016-05-13 13:49] #21 closed

[2016-05-14 19:46] ravensorb opened #26 "Any thought on turning this into a full fledged control"
Your samples are awesome!  Any thought to moving them into something like a ControlRenderer so they can be leveraged a little easier for developer new to the ExoPlayer?

[2016-05-14 19:58] martijn00 commented on #26
I haven't looked into making something like that, but i would take a pull request if you have something!

[2016-06-12 05:07] jonhbala opened #27 "Implements the OkHttp extension"
Hi,

I'm try to play shoutcast AAC stream, but works only in android API  20+.

I search this bug in ExoPlayer repositorie and I find this issue: https://github.com/google/ExoPlayer/issues/1157#issuecomment-173125170 and I got success when I build Java APP with this `new OkHttpDataSource(client, "ExoPlayer", null, null)` ´part of OkHttp extension...
I try binding ths class and re code in C# but I

[2016-06-13 14:22] truthz03 opened #28 "Wav support"
Hi,

today I downloaded the version 1.5.8 from your great project but I have a big problem.
It seems that the WavExtractor is missing. If I extract the aar file from your repository there is a WavExtractor.class inside the "com\google\android\exoplayer\extractor\wav\" folder but there is no c# class for that.
Is there a reason why the WavExtractor is missing?

[2016-06-29 08:25] tombby11 opened #30 "How to disable the HW acceleration ?"
Hello ,
When I play some videos on my machine with my app that uses ExoplayerXamarin, I get some green bar on top . or sometimes lagging .
I know the problem is with the HW acceleration . So is there a way to turn it off and use the software decoders ?

[2016-08-25 02:05] martijn00 commented on #30
This should be available now in version 1.5.10 by using `getDecoderInfos`

[2016-08-25 02:05] #30 closed

[2016-08-26 23:13] tombby11 commented on #30
I have the latest nuget installed now , but cannot find the method

[2016-09-13 14:53] adrianknight89 commented on #26
I'd love to see a control as well. For starters like me, this is advanced stuff!!

[2016-09-21 06:31] dampir opened #31 "Move navbar under player controls"
Hi there!

Could someone say how I could move navbar under player controls?
I'm writing Xamarin Android video app and trying implement video player step by step. I am coping every line of code and trying understand what that line means. And what I can't get it is how navbar position on video player view is controlled?

In your example all fine, but in mine the seekbar is hidden by navbar. Please s

[2016-09-29 12:51] martijn00 opened #32 "Update bindings to 2.0"
Initial work is done in https://github.com/martijn00/ExoPlayerXamarin/tree/exoplayer2

[2016-10-04 09:06] jmyrland commented on #32
Awesome work on this @martijn00, thanks!

When is this expected to be available in Nuget?

[2016-10-04 09:14] martijn00 commented on #32
I still have some bugs to solve before i can put this up on Nuget. Any help would be appreciated!

[2016-10-04 09:19] martijn00 commented on #32
You could help updating the sample to the official demo of 2.0: https://github.com/martijn00/ExoPlayerXamarin/tree/exoplayer2/Samples/Official%20Demo

[2016-10-26 05:44] bemnet4u opened #37 "addListener crashes the app"
Looks like adding listener crashes the app

[code]

My listener looks like this

[code]

The error I see is this:

[Mono] Assembly Ref addref Mono.Android[0xe98b1020] -> System.Runtime.Serialization[0xd7ef1a60]: 3
[ExoPlayerImpl] Init 2.0.4
[google-breakpad] ### ### ### ### ### ### ### ### ### ### ### ### ###
[google-breakpad] Chrome build fingerprint:
[google-breakpad] 1.0.1
[google-breakpad] 2
[

[2016-10-31 20:21] bubavanhalen opened #38 "MetadataRenderer.IOutput dont include onMetadata Member"
I can't use the  `MetadataRendere.IOutput` Interface, it doesn't compile during the C# version doesn't have the event `OnMetadata` included which gives an error while compiling in the xxx.Java file.

![image](https://cloud.githubusercontent.com/assets/11610646/19870183/cc2bd92e-9faf-11e6-887b-779b6dc55eef.png)

[2016-11-06 01:59] bemnet4u opened #39 "Exoplayer crashes on init on Android 5.1"
Starting Exoplayer on Android 5.1 causes a crash like this.

I am starting the player like this. I can repro the crash both on emulator and device.
[code]

[code]

[2016-12-21 14:27] ilkayilknur opened #40 "v2.1.1 Update"
Hi,
Do you have any plans to update bindings to v2.1.1 release ? We need to implement this change. https://github.com/google/ExoPlayer/commit/7bbe213e578a3f2de8bc7e9b4886c8d5e74a8dda

[2016-12-24 11:47] martijn00 commented on #40
Yes, i will work on this as soon as i have time.

[2016-12-27 07:55] martijn00 commented on #40
Addressed in https://github.com/martijn00/ExoPlayerXamarin/commit/2ae820da2e6319fd3228d3dadbf8655a048ecfc4

[2016-12-27 07:55] #40 closed

[2016-12-27 07:57] martijn00 commented on #7
This has been added for a while now.

[2016-12-27 07:57] #7 closed

[2016-12-27 07:57] martijn00 commented on #17
Please check again on the latest version

[2016-12-27 07:57] #17 closed

[2016-12-27 08:01] #20 closed

[2016-12-27 08:03] martijn00 commented on #26
You can now use my https://github.com/martijn00/XamarinMediaManager with Exoplayer as media backend.

[2016-12-27 08:03] #26 closed

[2016-12-27 08:20] martijn00 commented on #27
Done in https://github.com/martijn00/ExoPlayerXamarin/commit/441eab0cd308906200fa7796872c43c435199fe2

[2016-12-27 08:20] #27 closed

[2016-12-27 08:21] martijn00 commented on #28
Could you give this a try with the 2.x version of ExoPlayer?

[2016-12-27 08:21] #28 closed

[2016-12-27 08:22] martijn00 commented on #31
Please ask questions on StackOverflow.

[2016-12-27 08:22] #31 closed

[2016-12-27 08:22] #32 closed

[2016-12-27 08:26] martijn00 commented on #38
This is fixed in 2.1.1

[2016-12-27 08:26] #38 closed

[2016-12-27 08:28] martijn00 commented on #37
There are some problems with the binding of the listeners, but i'm not sure how else to do them. Can you try how this is in the new 2.1.1 update?

[2016-12-27 16:20] bemnet4u commented on #37
Sure i will try it by the end of this week and let you know.

On Dec 27, 2016, at 12:28 AM, Martijn van Dijk <notifications@github.com<mailto:notifications@github.com>> wrote:

There are some problems with the binding of the listeners, but i'm not sure how else to do them. Can you try how this is in the new 2.1.1 update?

-
You are receiving this because you authored the thread.
Reply to this emai

[2016-12-29 23:03] bemnet4u commented on #37
I tried this today and I still get the same crash from the latest version. It only happens on ARM devices. If if i run it on x86 emulator i dont see the crash.

Also I was not able to compile the demo project. Is it working for you?

[MonoDroid] System.NotSupportedException: Could not activate JNI Handle 0x41e647e8 (key_handle 0x41e647e8) of Java type 'md5f170bbb6b61c93fc18e3a047e02d52b2/MediaPlay

[2017-01-02 04:02] bemnet4u commented on #39
I think I was having issue because I was initializing the player early. I was creating it in my media service constractor. I see in your examples you create it when you start playing.

I am now going to try to use your other api the MediaManager...looks like i am able to use ExoPlayer though the media manager.

[2017-01-02 04:02] #39 closed

[2017-01-02 08:34] fahadrehman opened #41 "How to Use This Library??"
I tried to run the sample provided but not luck every time I build or rebuild it gives me errors.
Please any body help how to use this library to play videos

[2017-01-03 07:01] martijn00 commented on #41
You can try to look at the samples Google provide. It is really hard to update the library and also maintain the samples, so it's best to use the Google documention.

[2017-01-03 07:01] #41 closed

[2017-01-09 19:23] ChrisZi opened #42 "HLS manual change the quality."
Is possible using ExoPlayerXamarin to get information about the available qualities video stream from m3u8 file, so that the user can manually select a video stream?

[2017-02-14 23:19] ebal155 opened #44 "ExoPlayer can't play Vimeo videos"
When I try to play a video hosted on Vimeo, the player throws a java.security.cert.CertificateException (this is Exoplayer 1). It used to work before, any idea why the Vimeo certificates are not being recognised? I'm using the DefaultUriDataSource implementation (which uses HttpsURLConnection).

[2017-02-15 09:01] martijn00 commented on #44
This is a sort of question that belongs on Stackoverflow, as this goes into implementation details and not on the library itself.

[2017-02-15 09:01] #44 closed

[2017-03-09 08:48] softlion opened #45 "Upstream.IDataSource.Read called with negative readLength"
I keep receiving at random times a negative value in readLength (-60)

      Com.Google.Android.Exoplayer2.Upstream.IDataSource.Read(...)

I don't think this is normal :)

[2017-03-09 13:18] #45 closed

[2017-03-29 21:56] nonlin opened #47 "Dim Video On Some Android Devices"
For some reason so far on an Android 6.0 Samsung Galaxy 6 the video's brightness is normal but on Android 6.0 for an LG-G4, Android 7.1.1 Pixel and 6P the video is dim. Both have the same code and the same video source.

It is quite confusing. I suspect it is an issue with ExoPlayer.

[2017-07-02 20:15] smedasn opened #48 "Error when playing mkv files over 4GB"
The exeption I get is the following.

`07-02 21:46:02.669 E/ExoPlayerImplInternal(10387): Source error.
07-02 21:46:02.669 E/ExoPlayerImplInternal(10387): java.io.EOFException
07-02 21:46:02.669 E/ExoPlayerImplInternal(10387): 	at com.google.android.exoplayer2.extractor.DefaultExtractorInput.readFromDataSource(DefaultExtractorInput.java:252)
07-02 21:46:02.669 E/ExoPlayerImplInternal(10387): 	at c

[2017-08-21 07:25] #18 closed

[2017-08-21 07:25] #42 closed

[2017-08-21 07:25] martijn00 commented on #47
Please take this up with Google ExoPlayer

[2017-08-21 07:25] #47 closed

[2017-08-21 07:26] martijn00 commented on #48
The latest update is out and should fix this.

[2017-08-21 07:26] #48 closed

[2017-08-21 07:26] martijn00 commented on #37
Can you try again with the latest update and open again if it still happens?

[2017-08-21 07:26] #37 closed

[2017-08-21 12:35] jesuscoz opened #50 "Missing binding method on 2.5.1?"
Is SimpleExoPlayer binding class missing the Prepare methods?:

[code]

[2017-08-21 13:23] jesuscoz commented on #50
Looks like the problem is caused by this exclusion:

`<remove-node path="/api/package[@name='com.google.android.exoplayer2']/interface[@name='ExoPlayer']" />`

binding exclude methods of the interface

[2017-08-21 13:50] martijn00 commented on #50
New packages are online.

[2017-08-21 13:50] #50 closed

[2017-08-22 01:58] marufbd opened #51 "HlsMediaSource missing from Hls extension"
Installed from nuget Xam.Plugins.Android.ExoPlayer.Hls, but could not find HlsMediaSource anymore

[2017-08-22 15:10] martijn00 commented on #51
Fix is available on nuget in 2.5.1.2

[2017-08-22 15:10] #51 closed

[2017-08-28 01:52] marufbd opened #52 "The Ima extension does not have ImaAdsLoader"
Seems the binding does not have necessary classes. ImaAdsMediaSource constructor parameters showing JniRef whereas it should be ImaAdsLoader which is not present.

[2017-08-28 13:57] martijn00 commented on #52
Fixed in 2.5.1.3

[2017-08-28 13:57] #52 closed

[2017-08-31 10:19] pratikarya opened #53 "Implementation for LoadVideoItem in MvvmCross Sample project"
I have implemented exoplayer referring to the sample MvvmCross project. The video works fine, but initially a black screen appears and after some time the video starts playing. I reckon, it is because, the video is loading.

In the sample project, there is a LoadVideoItem abstract method, which sets the bool variable LoadingItem which is responsible for the visibility of ProgressBar. But I could n

[2017-08-31 11:43] pratikarya commented on #53
Should have done more research. StateChangeListner provides mechanism for tracking buffering,  completion, ideal etc. states. Have set the visibility based on that.

Awesome work @martijn00
Thanks a lot!

[2017-09-05 14:36] msivers opened #54 "Can't get subtitles working."
Can't seem to get subtitles working with SimpleExoPlayer (ExoPlayerXamarin 2.5.1.2).

Using the following urls:
[http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4](http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4)
[http://html5doctor.com/demos/webvtt/subtitles.vtt](http://html5doctor.com/demos/webvtt/subtitles.vtt)

Full activity code sample:
[code]

Only first frame of video is shown - can't pla

[2017-09-13 10:20] martijn00 commented on #54
Is this related to https://github.com/google/ExoPlayer/issues/3228? If so it would be fixed after updating to 2.5.2

[2017-09-13 15:26] #53 closed

[2017-09-13 15:26] martijn00 commented on #54
The update is out on nuget. Can you let me know if that helps?

[2017-09-19 13:12] andreabonassi opened #56 "java.lang.IllegalArgumentException at android.media.MediaCodec.native_setSurface"
Good morning i have this exception when i play a .mp4 video from sdcard:

`09-19 15:07:08.083 I/MediaCodec(17696): [OMX.Freescale.std.video_decoder.avc.v3.hw-based] setting surface generation to 18120706
09-19 15:07:08.085 D/SurfaceUtils(17696): set up nativeWindow 0x962d3d08 for 1024x576, color 0x13, rotation 0, usage 0x8002900
09-19 15:07:08.085 E/ACodec  (17696): new surface holds onto more buf

[2017-10-02 23:04] cesarmart76 commented on #54
@msivers If you are using a VTT subtitle file you need to enable Close Captions in your Device's **Settings > Accessibility > Captions** (the languaje of the captions must be the same as the subtitle file).

[2018-02-09 16:35] corjohnson opened #59 "VideoScalingMode causes exception, even though property should be valid"
Hello,

I am trying to set the video scaling mode for my exoplayer instance using the following:

[code]

In the native library, this is the appropriate way to set the scaling mode, it supports the constants provided by the AspectRatioFrameLayout. However when I try to set this value using the xamarin binding, I get the following exception:

[code]

[2018-03-08 21:24] SimpsOff opened #60 "Cannot implement any custom IMediaSource implementations"
IMediaSource missing the abstract methods `PrepareSource` and `CreatePeriod` which the corresponding java MediaSource class is expecting an implementation of. Because of this, there can be no implementations of the IMediaSource interface which compiles properly for the corresponding Java version. This is the error:

[code]

I've tried adding in the exact method signature in my C# source without th

[2018-03-08 21:33] SimpsOff commented on #56
It looks like this may be similar to the issue posted here:
https://github.com/google/ExoPlayer/issues/2703

A newer version of the library may help, otherwise you can try and do what was suggested in the other thread and set up a `SurfaceManager` like they posted, it might help with the issue.

[2018-04-02 14:19] martijn00 commented on #60
The latest develop is not working yet because the bindings are not updated to 2.7.2. That needs to be done first before being able to fix this issue.

[2018-04-05 13:49] martijn00 commented on #59
Which version is this on?

[2018-04-05 13:50] martijn00 commented on #56
Maybe try to use the new 2.7.2?

[2018-04-05 13:50] #56 closed

[2018-04-05 13:50] martijn00 commented on #54
Can you try 2.7.2?

[2018-04-20 22:07] rraallvv commented on #32
Does anyone know what version of the package should I have to run the samples?
I tried just downloading the sample folder "Official Demo" and installing the NuGet package from VS but I'm getting lots of errors when building. For instance these interfaces used by `EventLogger` are missing:
[code]

[2018-05-01 03:41] kevleyski opened #61 "Sample doesn't seem to build"
### Steps to reproduce :scroll:

1. Build ExoPlayer project
2. then ExoPlayer (develop) sample

### Expected behavior :thinking:
Build run/test

### Actual behavior :bug:
Compile failures around ExoPlayer.Demo::EventLogger.cs

	internal sealed class EventLogger : Object, IPlayerEventListener, IAudioRendererEventListener,
		IVideoRendererEventListener, IAdaptiveMediaSourceEventListener,
		Extractor

[2018-05-02 18:42] andersonvieiragomeslopes opened #62 "Video format in .m3u8"
Hello, how do I play .m3u8 videos with this library?
(Sorry my bad english)

[2018-05-04 05:27] aixiaozi commented on #61
The sample use Xam.Plugins.Android.Exoplyer 2.5.2, so you could download sample from here: https://github.com/martijn00/ExoPlayerXamarin/releases

Then, download the 2.5.2 Source code,  I test on my side, it works fine.

[2018-05-04 09:11] kevleyski commented on #61
Smashing! thanks

[2018-05-04 09:11] #61 closed

[2018-05-07 19:52] corjohnson commented on #59
Thought I had commented, sorry about that. This was on an earlier version of exoplayer. I'll give it a shot now!

[2018-05-07 23:43] corjohnson commented on #59
Okay, so I've tried this again, but the line to resize the video crashes the application, stating that IllegalArgumentException class cannot be found in the bootloader. If I comment out the video scaling mode, it works fine, but in this scenario I need to be able to zoom the video in or resize it somehow. Was hoping I could take advantage of the exoplayer built in functionality.

I'm on version 2.

[2018-05-17 14:32] nunohorta commented on #62
The samples in this library can play HLS just fine, you just need to pass the url.

This is a binding library from Google's Exoplayer and you'll find hundreds of tutorials/posts on how to play HLS. You just need to look at the code in java and convert it to C# which is fairly simple.

[2018-05-20 21:27] scxp opened #63 "Update samples to work with 2.8.0"
On #61, it's mentioned that the samples work with 2.5.2 which Google released in September of last year. Can you update the samples so they work with 2.8.0?

[2018-05-20 21:58] martijn00 commented on #63
I would accept a pull request to update this. Maybe @MKuckert or @bspinner can help out?

[2018-05-21 02:32] scxp opened #64 "AnalyticsListenerImplementor is not abstract and does not override abstract method onRenderedFirstFrame"
I created a blank Xamarin.Android app and installed 2.8.0, but I cannot compile the project. This is the error I'm getting:

[code]

[2018-05-22 18:10] 18kushal commented on #64
I have also same problem

[2018-05-25 21:56] AnonymusRaccoon commented on #64
I'm getting the same issue but i've a build log a bit longer:
`1>  obj\Debug\android\src\mono\com\google\android\exoplayer2\analytics\AnalyticsListenerImplementor.java:4: error: AnalyticsListenerImplementor is not abstract and does not override abstract method onRenderedFirstFrame(EventTime,Surface) in AnalyticsListener`

`1>  public class AnalyticsListenerImplementor`
`1>         ^`
`1>  Note: So

[2018-05-26 12:29] andersonvieiragomeslopes commented on #62
I tested, but it does not work, it does not run

[http://prntscr.com/jmv0y1](url)

Code:

`<local:VideoPlayer SourceUrl="https://d1h84if288zv9w.cloudfront.net/7dias/0be3_135.stream/playlist.m3u8" />`

PS: You're not seeing wrong, it's **xamarin forms** (Android) :), any idea what I can do to run video in **.m3u8**? Only **.mp4** is working.

[2018-05-29 12:42] #62 closed

[2018-05-29 12:43] #54 closed

[2018-05-29 14:28] martijn00 commented on #60
This should be fixed in 2.8.1. Can you check?

[2018-05-29 14:28] #60 closed

[2018-05-31 11:40] RealNathanCodes commented on #64
I have Visual Studio 15.7.1 and I installed 2.8.1 in a brand new solution, when I build I also get, "AnalyticsListenerImplementor is not abstract and does not override abstract method onRenderedFirstFrame(EventTime,Surface) in AnalyticsListener".

[2018-05-31 11:51] SamTheDev commented on #64
I am still getting that exception on the latest version (2.8.1)

public class AnalyticsListenerImplementor

The exception points to the following java code:
![image](https://user-images.githubusercontent.com/2827220/40780739-c1a09530-64d9-11e8-9359-cd6f7989c407.png)

[2018-05-31 14:07] martijn00 commented on #64
Can you try 2.8.2?

[2018-05-31 14:55] SamTheDev commented on #64
@martijn00, i am still facing the same exception using 2.8.2!

I am targeting API version 27, using Xamarin.Android SDK version: 8.2.0.16, and here the sample code i am using:

` private SimpleExoPlayer _player;
        protected override void OnCreate(Bundle savedInstanceState)
        {
            base.OnCreate(savedInstanceState);

            var mediaUrl = "http://api-streaming.youscribe.com

[2018-06-01 08:50] martijn00 commented on #64
I've pushed 2.8.3 with another fix. Can you guys try that one?

[2018-06-01 09:01] SamTheDev commented on #64
Works fine at my end. Thank you

[2018-06-01 12:34] RealNathanCodes commented on #64
I works well for me too. I really appreciate your efforts on this.

[2018-06-12 20:17] kevleyski opened #66 "(question) Custom patching the ExoPlayer aar"
I need to add a custom patch to
https://github.com/martijn00/ExoPlayerXamarin/blob/develop/ExoPlayer/Jars/exoplayer-2.8.1.aar

I was wondering do you build this yourself or is it from a release? (I thought the aars for ExoPlayer were separed into core and extensions? Rather than a combined aar)

What's best way to support custom variations in your option? No API changes I'm just testing a bug fix

[2018-06-12 21:06] martijn00 commented on #66
Exoplayer is indeed split up. The .aar file is just a forwarder to the different dependencies, to not break compatibility. I get the files from Bintray.

You need to compile the fix yourself, and make a new build with my source code and hook that up into your project.

[2018-06-12 21:06] #66 closed

[2018-06-12 22:07] kevleyski commented on #66
No worries, appreciated

[2018-06-29 11:22] bspinner commented on #63
@martijn00 Looks like you've made some changes already. Is this still an issue?

[2018-06-29 11:43] martijn00 commented on #63
@bspinner yes, the samples are still not up to date. The other things compile fine now.

[2018-07-16 10:00] martijn00 commented on #59
@corjohnson Can you try again with the latest update?

[2018-07-20 03:22] corjohnson commented on #59
Hey @martijn00 , I was able to get it working in the most recent update. Sorry for the delay! Here's what I ended up using to initialize my player:

[code]

[2018-08-01 14:08] #63 closed

[2018-08-02 21:14] corjohnson commented on #59
[code]

If you're wanting the video to scale by aspect

[2018-08-08 05:16] dhpanteon opened #70 "How many video format supported ?"
1) How many video format supported by this plugin?
2) Does this plugin play 4k video easily ?

[2018-08-08 09:33] martijn00 commented on #70
Duplicate of https://github.com/martijn00/XamarinMediaManager/issues/398

[2018-08-08 09:33] #70 closed

[2018-08-31 06:45] andreabonassi opened #71 "Play local mp4 files"
Good morning,
i have problem with the last nuget package version.

        Android.Net.Uri dashUri = Android.Net.Uri.Parse("http://www-itec.uni-klu.ac.at/ftp/datasets/DASHDataset2014/BigBuckBunny/15sec/BigBuckBunny_15s_simple_2014_05_09.mpd");
        Android.Net.Uri httpUri = Android.Net.Uri.Parse("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4");
        Androi

[2018-08-31 09:48] martijn00 commented on #71
This works the same as it would in Exoplayer native. Look at their samples or post the question on Stackoverflow to find the answer.

[2018-08-31 09:48] #71 closed

[2018-09-06 12:27] karishma200 opened #72 "Get movie info like a movie link from EditText"
Hi, I want to copy the movie Url link manually in EditText.
And Media.exolist.json file full of Assets I remove sample.
And use the play button to play the movie.
Like the link below
https://play.google.com/store/apps/details?id=com.stream.video.exoplayer

Please send me an example for my email : ma0528160@gmail.com
Or guide me.
Thankful

[2018-09-06 12:42] martijn00 commented on #72
Questions can go to StackOverflow and this we be closed for that reason.

[2018-09-06 12:42] #72 closed

[2018-09-06 13:23] karishma200 opened #73 "Get movie info like a movie link from EditText"
Hi, I want to copy the movie Url link manually in EditText.
 And Media.exolist.json file full of Assets I remove sample.
And use the play button to play the movie.
Like the link below
 https://play.google.com/store/apps/details?id=com.stream.video.exoplayer
 Please send me an example for my email : ma0528160@gmail.com
Or guide me.
Thankful

[2018-09-06 13:34] karishma200 commented on #72
Do not respond in StackOverflow

On Thu, Sep 6, 2018 at 5:42 AM Martijn van Dijk <notifications@github.com>
wrote:

[2018-09-06 13:35] #73 closed

[2018-09-06 13:35] martijn00 commented on #73
Duplicate of https://github.com/martijn00/ExoPlayerXamarin/issues/72

[2018-09-29 15:31] cncb-gh opened #74 "Upgrade to 2.9.0 causes Android build failure: COMPILETODALVIK PARSE error"
### Steps to reproduce :scroll:

1. Upgrade via NuGet to 2.9.0

2. Rebuild Android project

### Expected behavior :thinking:
Successful build

### Actual behavior :bug:
This causes a build failure in the Android project with several of these error lines in the output:
`2>COMPILETODALVIK : PARSE error : `

Note there are no error details displayed.  If I return to the previous version I was using (

[2018-09-29 15:52] martijn00 commented on #74
This is a problem on the Xamarin side. Since Exoplayer 2.9.0 uses Java 8 it can't compile everything correctly. Microsoft will probably fix this in Visual Studio v15.10

A possible workaround could be to add `<AndroidEnableDesugar>true</AndroidEnableDesugar>` to your csproj file.
This is related to https://github.com/xamarin/java.interop/issues/25
And https://github.com/xamarin/xamarin-android/iss

[2018-09-29 18:03] cncb-gh commented on #74
Thanks for the reply.  Unfortunately, I get a class not defined error with the "desugaring" enabled:

`java.lang.NoClassDefFoundError :  com/google/android/exoplayer2/source/BaseMediaSource`

I will wait Microsoft to hopefully fix this soon.

[2018-10-12 12:14] haohighview opened #75 "Upgrade to 2.9.0 causes Android build failure: java.lang.NoClassDefFoundError: com/google/android/exoplayer2/upstream/Loader$Callback"
added `"<AndroidEnableDesugar>true<AndroidEnableDesugar>"`

1>Exception in thread "main" java.lang.NoClassDefFoundError: com/google/android/exoplayer2/upstream/Loader$Callback
1>	at java.lang.ClassLoader.defineClass1(Native Method)
1>	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
1>	at java.lang.ClassLoader.defineClass(ClassLoader.java:642)
1>	at com.google.devtools.build.android.desu

[2018-10-12 12:18] martijn00 commented on #75
Related to https://github.com/martijn00/ExoPlayerXamarin/issues/74#issuecomment-425655112

We've got to wait for Microsoft to fix this.

[2018-10-12 16:39] ddobrev commented on #74
I get almost identical behaviour, the only difference is that before `<AndroidEnableDesugar>true</AndroidEnableDesugar>` I get "Uncaught translation error : com.android.dx.cf.code.SimException: invalid opcode ba (invokedynamic requires --min-sdk-version >= 26)" instead.
I've commented on the related Xamarin issues, I hope they can fix it soon.

[2018-10-13 04:20] haohighview opened #76 "Android ExoPlayer Version 2.8.3 - 'Java.Lang.Reflect.InvocationTargetException' was thrown."
Android ExoPlayer Version 2.8.3
{Java.Lang.Reflect.InvocationTargetException: Exception of type 'Java.Lang.Reflect.InvocationTargetException' was thrown. ---> Java.Lang.IncompatibleClassChangeError: The method 'void com.google.ads.interactivemedia.v3.api.ImaSdkSettings.setPlayerType(java.lang.String)' was expected to be of type interface but instead was found to be of type virtual (declaration of

[2018-10-19 14:55] martijn00 commented on #76
Can you make a sample repo so i can test this?

[2018-10-21 16:04] dupuisdavid commented on #75
Meanwhile, what about the idea to retreat to exoplayer version 2.8.8?

[2018-10-21 16:42] martijn00 commented on #75
Yes 2.8.8 works fine for me for now.

[2018-10-23 06:01] ianthetechie commented on #74
I'm assuming that v15.0 is a Windows version reference? The latest VS for Mac Community (v7.6.10b27) is broken as well.

[2018-11-12 17:22] martijn00 commented on #76
Dependency is updated in https://github.com/martijn00/ExoPlayerXamarin/commit/f9eac785942c66f95308ef6a6b2e5ab420428882

[2018-11-12 17:22] #76 closed

[2018-11-12 17:23] martijn00 commented on #74
Possible fix is here: https://twitter.com/_JonDouglas/status/1060691432401321984

[2018-11-13 20:29] martijn00 commented on #74
It seems to work with that fix! I've updated 2.9.1 to support this. Only problem left is that Java 1.8 features are not taken in account in the bindings. So some methods are missing.

[2018-11-21 14:44] AnonymusRaccoon opened #77 "Android Minimum version >= 26"
Hello, i've seen that the last release need the minimum MonoDroid version to be Oreo or newer. Why this restriction ? I've looked on the exoplayer website and they support android version greater than Lolipop with all the features. Is this an intended behavior and if so, why ?

PS: i want to upgrade because if've found a bug on the 2.8.8 version and was wondering if it has been solved in the last

[2018-12-03 07:55] ianthetechie commented on #74
I assume 2.9.1 hasn't been released yet?

I just tried upgrading to 2.9.0 again since the latest VS for Mac uses OpenJDK 8. It appears the issue still persists even after the upgrade so I'm not convinced that's the only issue.

If it makes any difference, the minimum SDK version I currently support is API 21, and raising it isn't likely an option just yet. I don't expect it is for most projects ei

[2018-12-04 00:41] MilkBiscuit commented on #74
Same issue... so disappointing.
I recommend reverting to version 2.8.8

[2018-12-07 12:50] amang2205 opened #78 "The type or namespace name 'BasePlayer' does not exist in the namespace 'Com.Google.Android.Exoplayer2'"
Trying to build and debug the sample apps fails with 'The type or namespace name 'BasePlayer' does not exist in the namespace 'Com.Google.Android.Exoplayer2''.
This happens in the ExoPlayer.Ext.Cast project and reversely makes other classes fail.

[2018-12-07 13:22] martijn00 commented on #75
Closed as duplicate of #74

[2018-12-07 13:22] #75 closed

[2018-12-07 13:24] martijn00 commented on #77
Oreo is not the minimum version, but the compile target. You can still set lolipop as minimum target just as they say on the website.

The latest version only works with https://github.com/martijn00/ExoPlayerXamarin/issues/74#issuecomment-438425105

[2018-12-07 13:24] #77 closed

[2018-12-19 21:59] nickz1p opened #79 "IPlayerEventListener on android"
## 💬 Questions and Help
Hello. how possible implement IPlayerEventListener on android?
on official documentation http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.EventListener.html it's contains many methods, but I don't see it on xamarin. Also in your simple https://github.com/martijn00/ExoPlayerXamarin/blob/4a5110d2695663be138150df43fbbeeb644331c1/Samples/Main

[2018-12-20 10:45] autosoftmultimedia commented on #79
Same issue.
I'm looking for this because RenderedFirstFrame for SimpleExoPlayer is no longer available.

[2019-01-27 12:01] Ruud-cb opened #80 "Documentation recommendation"
## 🏗 Enhancement Proposal

Hi,

I would really suggest adding this documentation to your Readme: https://codelabs.developers.google.com/codelabs/exoplayer-intro/#0

The documentation currently pointed to is a bit broad and not down to earth on what steps to take.
It at least would have saved me some time when starting with this.

Also the "Exoplayer.Droid sample app" can't be found anywhere within

[2019-02-08 09:01] ianthetechie commented on #74
Ping. Any way we could get an update on NuGet to fix this? I really don't understand why it's normal for packages to remain broken for months on end in the Xamarin world (this project is far from the only offender; Microsoft packages are even worse; I'm still multiple Xamarin.Forms versions behind because subsequent updates have bugs, won't compile, etc.).

[2019-02-08 10:05] martijn00 commented on #74
2.9.4 is committed and works in VS2019 preview2. We have to wait for that to release a stable new version.

[2019-02-08 10:05] #74 closed

[2019-02-08 10:32] ianthetechie commented on #74
Awesome; thanks. Out of curiosity, is there an equivalent Mac preview release?

[2019-02-10 19:02] LucaZiegler opened #81 "BT.109 Profile not working"
## 🐛 Bug Report

Black Screen, but audio is working.
The log says:
02-10 19:51:14.146 W/VideoCapabilities(  902): Unrecognized profile/level 0/3 for video/mpeg2
02-10 19:51:14.146 I/VideoCapabilities(  902): Unsupported profile 2 for video/mpeg2

### Expected behavior
Special .ts streams that are using the ITU-R BT.709 profile are not working in ExoPlayerXamarin, but in Android Studio with the ori

[2019-02-10 19:19] LucaZiegler commented on #81
It seem that the error has been fixed in version 2.9.3, so please update

[2019-02-25 11:01] ShllyBhgal opened #82 "Exoplayer Integration with Xamarin"
Hi Folks,

I am trying to Integrate Exoplayer with Xamarin.Android but somehow i am able to play small size video which are located at cdn servers but for large file exoplayer goes to the ideal state and does not play video.

I have also tried Exoplayerdash for mpd file using streaming servers but still not able to play large size videos in xamarin. Please help me understand where I am lacking.

R

[2019-02-25 11:06] martijn00 commented on #82
Please post questions on StackOverflow.

[2019-02-25 11:06] #82 closed

[2019-02-27 16:15] Daddoon commented on #74
Seems to be fixed on my side on Visual Studio 2019 Preview 2 (as i just encountered the bug). I had to add AndroidDesugar true, then everything worked on my side.

[2019-02-27 21:49] MilkBiscuit opened #83 "Could not pass build"
## 🔙 Regression

Tried on Visual Studio for Mac 2017 and Visual Studio for Mac 2019.
Both can not pass build and have the same error.

[code]

### Old (and correct) behavior
It can build and run correctly
### Current behavior
Can not pass build
### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth

[2019-02-27 22:03] MilkBiscuit commented on #83
commit 6b2d91c324a029014b0bfe23a489118576f21241 (HEAD -> version288, tag: 2.8.8)

Build of this version if working fine.

[2019-03-13 13:26] thomashagstrom commented on #79
Implement the interface and optionally act on the events. Here's ours:

[code]

[2019-03-13 15:15] thomashagstrom commented on #74
How is this closed? Has no label/milestone since 9.4 isn't released

[2019-03-13 15:39] martijn00 commented on #74
@thomashagstrom because there is no need for a new release to make this work. You just need to use VS2019

[2019-03-13 16:25] thomashagstrom commented on #74
Doesn't help mac users I suppose? Rider / VS Mac gives the same error.
Even built your latest develop an hour ago and referenced those DLLs. Same issue

[2019-03-13 16:34] martijn00 commented on #74
VS2019 for Mac might work but i have no idea, try to ask Microsoft to fix this.

[2019-03-13 19:02] MarkoJk opened #84 "Video player not loading video from url, after open/close few times"
## 🐛 Bug Report

Hi,
I implement ExoPlayer in my Xamarin Forms application ( through custom renderer for ios). After showing new video few times from url , video player is no longer playing videos.
Also i can't set IEventListener, when i pass as parameter in ExtractorMediaSource constructor application crash.

### Expected behavior
VideoPlayer is in new page, and i want to be able to close/open th

[2019-03-13 22:35] MarkoJk commented on #84
I missed releasing player. Sorry for opening this issue.

[2019-03-13 22:35] #84 closed

[2019-03-14 15:29] leeapted opened #85 "Java.Lang.NoClassDefFoundError"
I'm getting a runtime error when using ExoPlayer with a RTMP source.

Java.Lang.NoClassDefFoundError: Failed resolution of: Lnet/butterflytv/rtmp_client/RtmpClient;

Any ideas on how to resolve this?

(I'm using 2.8.8 since I do not have Visual Studio 2019 installed.)

Thank you!

[2019-03-17 09:40] marufbd commented on #79
My code is like:
[code]
@thomashagstrom
Implemented all methods as per your suggestion.

Which gives the following error:
[code]

[2019-03-17 17:13] thomashagstrom commented on #79
@marufbd would need a bit more of the stacktrace. What's the actual error? Missing, null reference etc?

[2019-03-19 14:08] marufbd commented on #79
@thomashagstrom whole of stacktrace:
[code]

[2019-03-22 13:29] martijn00 commented on #83
Does the latest work for you? I can use it fine.

[2019-03-26 10:39] marufbd commented on #79
I think Player.EventListener has got default methods which Xamarin.Binding does not support yet
https://github.com/xamarin/java.interop/pull/341

[2019-04-02 19:22] cncb-gh commented on #74
I updated to the just-released VS 2019 and v2.9.0.  It compiles successfully after adding AndroidEnableDesugar but I get the following exception at runtime when setting PlayWhenReady to true:

_Java.Lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.Player$EventListener.onPlayerStateChanged(boolean, int)"_

This is discussed in  https://github.com/martijn00/ExoPlayerXama

[2019-04-02 19:42] Daddoon commented on #74
Do you have the same error if your replace **<AndroidEnableDesugar>true</AndroidEnableDesugar>** to **<AndroidDexTool>d8</AndroidDexTool>** instead ?

[2019-04-02 20:10] cncb-gh commented on #74
`<AndroidDexTool>d8</AndroidDexTool>` seems to fix the exception.  Thanks!

[2019-04-02 20:40] cncb-gh commented on #74
No exception, but unfortunately the IPlayerEventListener methods no longer seem to be called.

[2019-04-02 21:08] Daddoon commented on #74
Are you on VS2019 RC or VS2019 Preview ?

[2019-04-02 21:32] cncb-gh commented on #74
The official release version from today (16.0.0 Community).

[2019-04-08 08:48] ianthetechie commented on #74
Ditto the above. Current dev tools info:

[code]

[2019-04-14 14:23] tonyyyrocks39 opened #86 "Navigation with custom renderer"
Hi,

I have a listview in mainpage,when i click listview it goes to 2nd page where it has a videoplayer,so the problem is how to release the player properly,as currently _player is equals to null always ,multiple videos are played.

 protected override void OnElementChanged(ElementChangedEventArgs<VideoPlayer> e)
        {
            base.OnElementChanged(e);

            if (_player == null)

[2019-05-25 00:10] aweck opened #87 "State Constants (Ex. ExoPlayer.StateReady) are marked deprecated"
Why are these deprecated?  I need to use them for a PlayerExentListener

[2019-05-25 00:12] aweck commented on #87
Ah, they have been moved to Player.

[2019-05-25 00:12] #87 closed

[2019-06-04 19:37] AnonymusRaccoon commented on #79
Does anybody find a way to use the event listener ? When I create the methods, they are never called.

[2019-06-11 22:37] aweck commented on #83
I can't build on the latest build of VS 2019 (16.2.0 preview 1)

java/lang/String;: defining a default interface method requires --min-sdk-version >= 24 (currently 13) for interface methods: com.google.android.exoplayer2.ui.PlayerNotificationManager$MediaDescriptionAdapter.getCurrentSubText : (Lcom/google/android/exoplayer2/Player;)Ljava/lang/String;

The min SDK version for my project is 24.

[2019-06-13 07:55] martijn00 commented on #86
Not sure what you mean with this. Please open an issue with a better description.

[2019-06-13 07:55] #86 closed

[2019-06-13 07:56] martijn00 commented on #83
You need to set the dex compiler to d8 in the android options so java 1.8 support is enabled.

[2019-06-13 07:56] #83 closed

[2019-06-13 07:57] martijn00 commented on #80
You need to set the dex compiler to d8 in the android options so java 1.8 support is enabled.

[2019-06-13 07:57] #80 closed

[2019-06-13 07:57] martijn00 commented on #79
You need to set the dex compiler to d8 in the android options so java 1.8 support is enabled.

[2019-06-13 07:57] #79 closed

[2019-06-13 07:57] martijn00 commented on #85
Please use the issue templates

[2019-06-13 07:57] #85 closed

[2019-06-13 08:45] PawKanarek commented on #79
@martijn00 I have set the d8 dex compiler, but events from IPlayerEventListener are not firing anyway. Why did you close issue?

[2019-06-13 11:46] AnonymusRaccoon commented on #79
For me the app builds and the exoplayer is working as intended (with the last version and with d8 enabled). But the event listener is never triggered. The interface seem empty, there is no methods in it so the events are not triggered.

[2019-06-13 11:59] haohighview commented on #79
For me the app builds and the exoplayer is working as intended (with the last version and with d8 enabled). But the event listener is never triggered. The interface seem empty, there is no methods in it so the events are not triggered.

[2019-07-12 08:00] mr5z commented on #87
This should be reopened.

`OnPlayerStateChanged(bool playWhenReady, int playbackState)`

Should be changed to **enum** instead of **int**

[2019-07-16 04:32] mr5z opened #89 "Where is DefaultUriDataSource?"
## 💬 Questions and Help

I usually rely on Visual Studio quick fix feature but it doesn't work this time for `DefaultUriDataSource`.
There are samples I can find on the web but they don't provide which namespace that type belongs.

[2019-07-16 04:52] mr5z commented on #89
It seems it was named differently:`Com.Google.Android.Exoplayer2.Upstream.DefaultDataSource`.

[2019-07-16 06:25] mr5z opened #90 "Where is ExoDatabaseProvider?"
## 💬 Questions and Help

I was trying to implement a Download feature and realized some of the types I am using are marked obsolete. Following the newest approach, [they recommend](https://exoplayer.dev/downloading-media.html) me to use `ExoDatabaseProvider` but it's nowhere to be found here in your repository.

Is it unimplemented yet?
(They said it was on ExoPlayer2)

[2019-07-19 04:56] anirugu opened #91 "Is this demo can be run on latest vs for mac"
I am not able to run it on vs for mac
<img width="1624" alt="Screenshot 2019-07-19 at 10 27 41 AM" src="https://user-images.githubusercontent.com/35772421/61510348-1c269500-aa10-11e9-8fdb-160c3bd47185.png">

[2019-07-24 02:30] marufbd opened #92 "Include ICY metadata classes"
## 🚀 Feature Requests

### Com.Google.Android.Exoplayer2.Metadata namespace is missing ICY classes

Is there any reason its omitted from the binding.
I would really like to use the ICY metadata feature from exoplayer which requires those classes from here:
https://github.com/google/ExoPlayer/tree/release-v2/library/core/src/main/java/com/google/android/exoplayer2/metadata/icy

[2019-07-24 08:02] martijn00 commented on #92
Because the binding is not updated to 2.10.x yet.

[2019-07-24 08:03] martijn00 commented on #91
Update to the latest preview

[2019-07-24 08:03] #91 closed

[2019-08-02 13:19] kishor010 opened #93 "/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(3,3): Error: java/lang/Object;I)V: defining a default interface method requires --min-sdk-version >= 24 (currently 13) for interface methods: com.google.android.exoplayer2.Player$EventListener.onTimelineChanged : (Lcom/google/android/exoplayer2/Timeline;Ljava/lang/Object;I)"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2019-08-02 13:24] martijn00 commented on #93
Use d8 as compiler. Also see other closed issues.

[2019-08-02 13:24] #93 closed

[2019-08-02 14:20] kishor010 commented on #93
How to use d8 compiler.
@martijn00
Thanks for reply.
Is this the solution ?

[2019-08-02 14:49] martijn00 commented on #93
Use VS2019 16.2 or higher. Open Android properties > Android options > Dex compiler > select d8.

[2019-08-05 10:21] kishor010 opened #94 "SsMediaSource is not working even though URL is proper. (http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8)"
VideoPlayerRenderer.cs(47,47): Warning CS0618: 'SsMediaSource.SsMediaSource(Uri, IDataSourceFactory, ISsChunkSourceFactory, Handler, IMediaSourceEventListener)' is obsolete: 'deprecated' (CS0618) (POC_VideoPlayer.Android).

ExoPlayerImplInternal] Source error.
[ExoPlayerImplInternal] com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404
[ExoPlayerIm

[2019-08-05 10:27] martijn00 commented on #94
It's working fine for me in my plugin: https://github.com/martijn00/XamarinMediaManager

Please fill in the full issue template, or this issue will be closed.

[2019-08-05 10:41] kishor010 commented on #94
@martijn00
I am not using MediaManager plugin.
I am working on Visual studio and I have created a video player for Android using "Exoplayer" SDK.

I am facing issue with deprecated method and eventListeners.
I checked samples but didn't get any one which can resolve my issue.

[2019-08-05 10:59] #94 closed

[2019-08-05 11:11] kishor010 commented on #94
@martijn00
Can you please tell me
Why you closed this issue without any solution ?

[2019-08-05 14:29] martijn00 commented on #94
I refer back to: Please fill in the full issue template, or this issue will be closed.

[2019-08-08 13:56] ryanlpoconnell opened #95 "Sample ExoPlayer.Demo doesn't build from 2.9.7 release"
## 🐛 Bug Report

### Expected behavior
Building ExoPlayer.Demo should succeed

### Reproduction steps
Download source zip for 2.9.7 release here: https://github.com/martijn00/ExoPlayerXamarin/releases

Open in up-to-date VS2019

Rebuild entire solution

Build fails (for ExoPlayer.Ext.Cronet) separate issue

Try to rebuild only ExoPlayer.Demo

Build fails

### Build Error information
Fails with int

[2019-09-24 08:39] erossini opened #96 "Play an asset with DRM"
I have protected content with DRM and azure Media Service gives me the **ProtectionInfo** for every browser and platform.

**ProtectionInfo** is something like

[code]

How can I pass this token to the player in order to play my content?

[2019-11-15 14:11] OdetteP commented on #89
Did you fix this issue?

[2019-11-29 02:22] iamlawrencev commented on #90
Any update on this?

[2019-12-10 10:26] silentiumbravo opened #97 "Updating a nuget package with rtsp compability"
## 🚀 Feature Requests

Updating a nuget package with rtsp compability

### Contextualize the feature
nuget

### Describe the feature

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2019-12-31 20:52] ahmar20 opened #98 "Android project build error on 2.9.8"
## 🐛 Bug Report

I am unable to build my Android project in VS 2019 Community. Even setting the minimum SDK version to 27 doesn't work. I also updated Java JDK to v8u231 without success. Is there any fix for this? The output is as follows:
[code]

### Expected behavior
The project should be building just fine.

### Reproduction steps
In latest VS 2019 v16.4.2 just add the ExoPlayer Nuget package a

[2020-01-06 02:18] adrianknight89 opened #99 "Update to 2.11"
## 🏗 Enhancement Proposal

Currently, I see that the `ExtractorMediaSource` constructor is deprecated, and I can't use `ProgressiveMediaSource` because it exists in a newer version. Also, your sample code needs to be updated on the homepage since it looks like `ProgressiveMediaSource` is being preferred.

https://exoplayer.dev/hello-world.html

### Platforms affected (mark all that apply)
- [ ] :i

[2020-01-09 19:23] JohnGalt1717 commented on #99
I also would like to request this. The current version has major issues with Azure Media Services HLS which has been fixed in the most recent versions of exoPlayer.  Specifically it doesn't buffer properly which causes stuttering.

Here's the issue I opened with them: https://github.com/google/ExoPlayer/issues/6844

[2020-02-10 16:02] martijn00 commented on #99
@adrianknight89 I've started some work on this, but could use some help to get everything updated. Would it be possible to help with some PR's?

[2020-02-10 16:02] #98 closed

[2020-02-10 16:02] #97 closed

[2020-02-10 16:03] #96 closed

[2020-02-18 06:56] mr5z commented on #99
@martijn00 I'll try to help. Do you have something in mind I can work with?

[2020-02-18 06:58] mr5z commented on #89
@OdetteP yeah but I used different types (the alternative I think is DefaultDataSource). I stopped following the official docs but follow that one from stackoverflow instead.

[2020-02-18 11:43] martijn00 commented on #99
@mr5z Just pull in the latest from develop and try compile. There are metadata fixes that need to be done to be able to build.

[2020-02-24 10:51] martijn00 commented on #99
It's done.

[2020-02-24 10:51] #99 closed

[2020-02-24 10:51] #92 closed

[2020-02-24 16:56] ahmad913 opened #100 "MonoAndroid v10 required"
## 🐛 Bug Report

Getting the following error when trying to update my package from 2.9.8 to 2.11.3
NU1202	Package Xam.Plugins.Android.ExoPlayer 2.11.3 is not compatible with monoandroid90 (MonoAndroid,Version=v9.0). Package Xam.Plugins.Android.ExoPlayer 2.11.3 supports: monoandroid10.0 (MonoAndroid,Version=v10.0)

tried to change my targeted framework from the Android Projects properties, but the

[2020-02-24 17:59] martijn00 commented on #100
You need to set both compile and target framework to Android 10. Also you need to make sure you have the SDK for it installed.

[2020-02-24 17:59] #100 closed

[2020-02-26 14:03] ahmad913 opened #101 "connecting a player to a playerview"
## 🔙 Regression

in the original docs of the exo player you can connect the player to ther player view using this line
playerView.setPlayer(player);
however in the xamarin version we used to do it like this
_playerView = new SimpleExoPlayerView(Context) { Player = _player };
and since the 2.11.3 update the Player property is gone
so neither of them is available right now...

### Old (and correct)

[2020-02-27 17:19] earkania opened #102 "How to play UDP Multicast stream"
Hi.
I'm using ExoPlayerXamarin v2.9.7 and VS2019 with latest update. I'm struggling to play UDP multicast stream. I can't managed how to do it.
I have done lots of google search but I have not found any example for ExoPlayerXamarin. I have found some examples for java.  [This one](https://medium.com/@jatinmishra27/playing-udp-stream-in-exoplayer2-55ea3ea6e1db) is one of them. but I failed to port

[2020-02-28 14:00] rafaelSilva12 commented on #101
Having the same problem , since playerView.Player is gone what should we use?

[2020-02-28 17:17] earkania commented on #102
Finally I have managed to play UDP multicast stream using ExoPlayerXamarin.
I have created UdpDataSourceFactory class. This class implements IDataSourceFactory interface.

    using Com.Google.Android.Exoplayer2.Upstream;
    public class UdpDataSourceFactory : Java.Lang.Object, IDataSourceFactory
    {
        private UdpDataSource UdpDataSourceField { get; set; }

        public UdpDataSourceFac

[2020-03-02 17:13] #102 closed

[2020-03-05 13:13] martijn00 commented on #101
Fixed in new release

[2020-03-05 13:13] #101 closed

[2020-04-05 15:42] jpiechowiak opened #103 "Abstract method error when trying to call some methods/properties on SimpleExoPlayer instance"
## 💬 Questions and Help
Hi,
I've tried to use the newest version 2.11.4.
My sample project is using AndroidX and I've turned on r8 and d8.

[code]

Project compiles without any errors, but when I try to do something SimpleExoPlayer class instance,
for instance set up property PlayWhenReady
then I'm receiving an error:

**Java.Lang.AbstractMethodError: 'abstract method "void com.google.android.exop

[2020-04-08 14:03] ahmad913 opened #104 "Facing a runtime error while trying to play rtmp stream"
## 💬 Questions and Help
Hi,
i'm facing an error caused in run time after trying to play rtmp stream
the error :
Java.Lang.NoClassDefFoundError: 'Failed resolution of: Lnet/butterflytv/rtmp_client/RtmpClient;'

i think i'm not using the correct factory for the rtmp but i'm not sure how to do it :/
tried to copy the code from the github page and edit it afterwards but it is not going well
a snippet

[2020-04-15 06:37] TGMM opened #105 "AbstractMethodError when adding a listener to a SimpleExoPlayer"
The full error is:
`Java.Lang.AbstractMethodError: 'abstract method "void com.google.android.exoplayer2.Player$EventListener.onTimelineChanged(com.google.android.exoplayer2.Timeline, int)"'`

It appears when I invoke the activity where the player is situated, everything works fine if the player has no listener.

My listener code is:
[code]
And it's added like so:
`_player.AddListener(new ExoPlayer

[2020-04-16 13:20] bradlak commented on #105
The same issue here.

[2020-04-24 09:45] NVFedorov opened #106 "Resource exo_progress_placeholder not found"
## 🐛 Bug Report

I'm trying to implement full screen feature. I added exo_playback_control_view.xml layout with the following content:

        <LinearLayout
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity=

[2020-05-25 15:57] szymonkalista opened #107 "System.TypeLoadException when using PlayerNotificationManager.IMediaDescriptionAdapter"
## 🐛 Bug Report

Application crashes when class that implements interface:
`PlayerNotificationManager.IMediaDescriptionAdapter`
is being instantiated.

Exception that is thrown:
`
Could not load type 'Com.Google.Android.Exoplayer2.UI.PlayerNotificationManager.IMediaDescriptionAdapter' from assembly 'ExoPlayer.UI, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'.
`

Other interfaces provided

[2020-05-28 23:00] archangelnl commented on #107
I can definitively confirm that I'm getting the same Exception thrown on the latest version of Exoplayer with Android 10 as well.. Would be nice indeed if it didn't crash but oh well.

[2020-06-02 22:47] jcllo opened #108 "System.TypeLoadException when trying to load Com.Google.Android.Exoplayer2.Offline.DownloadManager.IListener"
## 🐛 Bug Report

Application crashes when class that implements interface:
Com.Google.Android.Exoplayer2.Offline.DownloadManager.IListener
is being instantiated.

### Expected behavior
App not crashes
### Reproduction steps
[downloadListenerCrashes.zip](https://github.com/Baseflow/ExoPlayerXamarin/files/4720046/downloadListenerCrashes.zip)

Try to run the attached project on a physical android dev

[2020-06-17 17:03] Mandrakia opened #109 "[Android]IVideoListener not working as intended"
## 🐛 Bug Report

The implementation of VideoListeners doesn't work in the current version.
By doing player.AddVideoListener(this); It will make the app crash on runtime.

Strange thing is there's nothing to implement from IVideoListener despite it being an interface.

### Expected behavior
No crash and interface methods called.

### Reproduction steps
Setup a player , source etc..
Add a video List

[2020-06-25 12:40] geo-bursuc commented on #106
Replace the placeholder with the following:

[code]

Solution found here: https://github.com/google/ExoPlayer/issues/6506

Explanation found here: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerControlView.html
[code]

[2020-06-30 09:24] archangelnl commented on #107
Still seems to be an issue on 2.11.6 combined with the latest version of XamarinMediaManager (0.9.9)

@martijn00 Could you have a look at this?

[2020-07-01 12:14] martijn00 commented on #107
It works fine here: https://github.com/Baseflow/XamarinMediaManager/blob/70afbdb223d6377f8648cb9f3f9c873946a506df/MediaManager/Platforms/Android/Media/MediaDescriptionAdapter.cs#L13

You need to enable C#8 and target Android 10 with AndroidX

[2020-07-01 12:14] #107 closed

[2020-07-09 12:07] archangelnl commented on #107
Could this be re-opened? I'm still getting the same exception with the sample below (Which is based off of the sample with the original issue's sample, just updated to 2.11.6 and c#8 enabled)

[ExoTest.zip](https://github.com/Baseflow/ExoPlayerXamarin/files/4896606/ExoTest.zip)

[2020-07-10 14:32] szymonkalista commented on #107
Same here.
These are the settings, that I've set. I guess this should do the trick, but doesn't. Also AndroidX seems to be turned on - screenshot which shows that MainActivity inherits from AndroidX.[...].

This is a clean Forms project, only exoplayer was added.

<img width="963" alt="Screenshot 2020-07-02 at 23 07 34" src="https://user-images.githubusercontent.com/17805617/87165494-847a2080-c2ca

[2020-07-10 17:17] martijn00 commented on #107
If you want me to look into this you can make a PR or send me an email for commercial support.

[2020-07-11 17:44] ToBeHonest commented on #107
Hi @martijn00 . I'm a bit confused about your approach.
Maybe this and other interfaces that can't be instantiated are part of commercial support. In such case, you should state it clearly in README so that everyone can make conscious decision if want to use your software or not.
Apart form that if you can't provide working instructions how to run your software, why would I pay you for commercial

[2020-07-11 21:59] szymonkalista commented on #107
I've looked some more into this. It seems that (at least on my mac) there is some issue during type loading.

In RuntimeTypeHandle.cs line 342 (This file comes from mono), there is:

[code]

So in my case on macOS, some interfaces that are nested in PlayerNotificationManager have typeName that follows the following convention:
`
Com.Google.Android.Exoplayer2.UI.PlayerNotificationManager/NESTED_INT

[2020-07-30 09:36] mr5z commented on #103
Any updates on this? The solution for native Android that uses Gradle is:

`android.enableDexingArtifactTransform=false`

What would be the equivalent for Visual Studio solution?

[2020-08-07 19:57] camos-os commented on #108
This is also happening in 2.11.6

[2020-08-07 21:54] camos-os commented on #108
https://github.com/xamarin/java.interop/issues/661
Not related? Problem still happening on Xamarin.Android 11.0.0.3

[2020-08-10 08:50] martijn00 commented on #108
I'll have a look at compiling again on this release.

[2020-08-10 09:43] #89 closed

[2020-08-10 09:43] #90 closed

[2020-08-10 09:59] martijn00 commented on #103
Please try again in 2.11.7

[2020-08-10 09:59] martijn00 commented on #104
Please try again in 2.11.7

[2020-08-10 09:59] #104 closed

[2020-08-10 09:59] martijn00 commented on #105
Please try again in 2.11.7

[2020-08-10 09:59] #105 closed

[2020-08-10 09:59] martijn00 commented on #106
Please try again in 2.11.7

[2020-08-10 09:59] #106 closed

[2020-08-10 09:59] martijn00 commented on #108
Please try again in 2.11.7

[2020-08-10 09:59] #108 closed

[2020-08-10 09:59] martijn00 commented on #109
Please try again in 2.11.7

[2020-08-10 09:59] #109 closed

[2020-08-11 11:28] #103 closed

[2020-08-14 14:24] ajaco56 commented on #95
I have the exact same issue , i.e. not passing build with error as above. Please someone guide me to get past this error!

Andreas Jacobs

[2020-08-28 16:30] colin-ifit opened #110 "DefaultBandwidthMeter and AddEventListener"
## 💬 Questions and Help

I just updated from 2.8.8 to 2.11.8.

On 2.8.8 I was able to use this piece of code

[code]

`SetEventListener` is no longer able to be resolved but it looks like it was changed to `addEventListener` in the [Java Library](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/BandwidthMeter.html),

So I assumed I just need to update the above code to us

[2020-08-28 20:42] kcrg commented on #103
@jpiechowiak @martijn00 After upgrade Exo to 2.11.8 I have simillar issue, any ideas?

[code]
I Implement that method with empty body and build app with d8/r8. I can't see any good results.
Only bump minimum API lvl to 28 or higher resolve this issue but that's not the solution.

[2020-09-09 20:02] earkania opened #111 "How to use ffmepg extension"
# 💬 Questions and Help
Hi. I'm using ExoPlayerXamarin in my project and everything is OK. But on some devices there is not supported playing mpeg2 audio at hardware level. I know Exoplayer supports playing some audio formats using ffmpeg plugin. But I can't figure out how to use this plugin with ExoPlayerXamarin. I have initialized DefaultRenderersFactory  like this:
`
   DefaultRenderersFactory r

[2020-09-09 21:57] kcrg opened #112 "AbstractMethodError with IPlayerEventListener added to a SimpleExoPlayer"
## 🔙 Regression
In the latest version of ExoPlayer, the IPlayerEventListener interface causes a crash.

### Old (and correct) behavior
App with version 2.8.8 works just fine.

### Current behavior
Player crashes with this stack trace:

	at crc64c7906c01a42d8080.DroidEventLogger.n_onTimelineChanged(Native Method)
	at crc64c7906c01a42d8080.DroidEventLogger.onTimelineChanged(DroidEventLogger.java:162

[2020-09-10 08:15] PawKanarek commented on #105
There is still something wrong with that listener... look at https://github.com/Baseflow/ExoPlayerXamarin/issues/112

[2020-09-22 15:56] cncb-gh commented on #112
Still an issue in 2.11.8

[2020-09-23 08:56] kcrg commented on #112
That's why I created this issue 😅

[2020-09-23 13:23] billel-bouziani commented on #112
Happened to me, but I have figured how to fix it
it seems that the definition of IPlayerEventListener interface has been changed (names and definitions of methods have been changed ).from 2.8.8 to the 2.9.x

eg:

OnTimelineChanged(Timeline p0, Java.Lang.Object p1, int p2) to
OnTimelineChanged(Timeline timeline, int reason)

[2020-09-23 14:05] cncb-gh commented on #112
This plus adding a missing OnIsPlayingChanged(bool isPlaying) also fixed it for me.  Thanks!  Kind of puzzling that this builds successfully before doing this.

[2020-09-29 15:12] badstorm opened #113 "[Question] Current sample code is "Obsolete""
Hi,
i try to implement ExoPlayer on my Xamarin App using this code:

[code]
But i get warning about "obsolete" methods.
I try to follow the official ["hello world" example](https://exoplayer.dev/hello-world.html) but I can find any reference to the `MediaItem` object.
Where I can find a simple updated hello world for xamarin?
Thanks

[2020-09-30 14:59] earkania commented on #113
Hi. You can prepare player like this:
[code]

Below is code to get IMediaSource object

[code]

[2020-10-02 02:25] MagneticLlama opened #114 "System.TypeInitializationException with IPlayerEventListener"
## 🐛 Bug Report

I have a class that implements IPlayerEventListener, and an exception occurs when the class is constructed.
`System.TypeInitializationException: 'The type initializer for 'Com.Google.Android.Exoplayer2.IPlayerEventListener' threw an exception.'`

[code]
Using this interface works properly on versions prior to 2.11.

### Configuration

**Version:** 2.11 (any)
**Dex Compiler:** d8

[2020-10-02 08:16] #112 closed

[2020-10-02 08:16] martijn00 commented on #114
Duplicate of https://github.com/Baseflow/ExoPlayerXamarin/issues/112#issuecomment-697360932

[2020-10-02 08:16] #114 closed

[2020-10-02 16:18] MagneticLlama commented on #114
I already have the interface methods mentioned in that other post in place. That didn't resolve this issue.

[2020-12-14 20:07] XXcharlosXX commented on #113
@earkania Thank you!

[2020-12-17 15:48] Ashetyn-tegna opened #115 "Subtitles/Closed captioning doesn't seem to be operational."
## 🐛 Bug Report

Subtitles don't seem to be working. I'm using HLS, but the `OnCues` method never seems to be firing for the player.

### Expected behavior
Exoplayer should fire OnCues method when a listener is allocated. The m3u8 file i'm ingesting has been verified to contain closed captioning data.

### Reproduction steps
Initialize the exoplayer
[code]

The listener for the exoplayer:
[code]

[2021-01-23 22:34] petro2050 commented on #95
Same issue. This library is very difficult to use without proper samples.

[2021-01-23 22:39] petro2050 opened #116 "Update library to latest version"
Library version is several releases behind the official library. Would you mind providing an update to this library?

[2021-02-18 14:53] cncb-gh commented on #116
Yes, please.

[2021-02-24 10:35] yaliashkevich commented on #79
Actually, there is no way to override `IPlayerEventListener` methods. It doesn't related to d8.

[2021-02-24 11:26] yaliashkevich commented on #79
Actually you can, but you have to implement every single method from IPlayerEventListener interface, for some reason default implementation causes  `AbstractMethodError` exception, so it looks to be no sense in such default implementation.

[2021-03-25 12:57] martijn00 commented on #116
Can you open a PR?

[2021-03-27 23:42] mc0re opened #117 "[Question] How to use SsMediaSource"
Do you have some sample code on how to use `SsMediaSource`? I crafted this piece, but it does not start the playback.
[code]
It doesn't even call `IDrmSessionManager.AcquireSession`, only `IDrmSessionManager.Prepare`, which is an empty method. I'd love to use some default DRM manager, but couldn't find any, therefore tried to implement my own (to avoid an exception of calling an abstract method `p

[2021-03-28 14:02] mc0re opened #118 "Cannot compile "master" branch"
## 🔙 Regression

After fixing the project files to work with VS 2019 (use `<Project Sdk="MSBuild.Sdk.Extras/3.0.22">`), I get the following errors about abstract methods:
[code]

Then a couple about `bool`:
[code]
A bunch about unimplemented interface methods:
[code]
And a few other assorted ones.

### Old (and correct) behavior
 I guess it was in compilable state some time ago.

### Current behav

[2021-04-08 18:14] cncb-gh commented on #116
Sorry, forgive my ignorance but what kind of PR do you need?  Is there a branch somewhere that has the updated ExoPlayer (looks like latest is 2.13.2)?

[2021-04-30 18:54] MichaelPeter opened #119 "MAUI Support?"
## 🚀 Feature Requests

Are there plans to include cross project support for Microsoft MAUI?

### Platforms affected (mark all that apply)
- [ X] :iphone: iOS
- [ X] :robot: Android
- [X] :checkered_flag: WPF
- [ X] :earth_americas: UWP
- [ X] :apple: MacOS
- [ ] :tv: tvOS
- [ X] :monkey: Xamarin.Forms

[2021-06-02 21:14] cncb-gh commented on #116
I am trying this myself but didn't get very far.  I get this build error in ExoPlayer.Common:

`BINDINGSGENERATOR : error (3: 72): Syntax error, expected: #PCDATA, <tt>, <TT>, <i>, <I>, {@code, {@docRoot}, {@inheritDoc}, {@link, {@linkplain, {@literal, {@value}, {@value, UnknownHtmlElementStart, <p>, <P>, <pre>, <PRE>, @author, @apiSince, @deprecated, @deprecatedSince, @exception, @param, @return,

[2021-06-03 22:27] gleblebedev opened #120 "AnalyticsListener missing"
## 🚀 Feature Requests

Any chance to bring AnalyticsListener in?

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2021-07-08 12:56] PawKanarek commented on #116
Hi @martijn00
Do you have plans for updating exoplayer to newest version?

[2021-07-22 06:36] martijn00 commented on #116
I am waiting for a PR from the community to update this

[2021-07-22 09:35] thisisthekap commented on #116
I tried to do so, but failed due to the complexity of the ExoPlayer API.

I ended up creating a slim binding as suggested by Jonathan Dick: https://github.com/Redth/Xamarin.Binding.Helpers

The slim binding lib I built: https://github.com/thisisthekap/Xamarin.ExoPlayerSlim (feel free to contribute or fork)

[2021-09-07 09:52] akravch opened #121 "Unable to build Android with AOT + LLVM"
## 🐛 Bug Report

### Expected behavior
The project builds successfully.

### Reproduction steps
1. Clone the repo with the sample: https://github.com/akravch/ExoPlayerSample
2. Build it in Release configuration (Release is identical to Debug except having LLVM enabled)
3. `error XA3001: Could not AOT the assembly: ExoPlayer.Hls.dll`

### Configuration

**Version:** 2.11.8
Microsoft Visual Studio P

[2022-05-20 00:15] ClayAchahui opened #122 "how to play .mp3 file saved on the LocalApplicationData?"
## 💬 Questions and Help

For questions or help we recommend checking:

- The [Lottie tag in Stack Overflow](https://stackoverflow.com/questions/tagged/lottie)
- The [General slack channel in the Xamarin Slack](https://xamarinchat.herokuapp.com/)
- Ask your question in the [Xamarin Forums](https://forums.xamarin.com/)

[2022-07-17 13:20] milouz-corp commented on #111
I have the same issue, did you find any solution ?

[2022-07-17 15:15] milouz-corp commented on #111
Thank you very much for that reply. I wasn't expecting such a quick and detailed message after two years. I am even surprised to receive an answer. ;-)

In my case, I discover that I can play a video in H265/AC3(5.1) on an Amazon firestick without further tweak, (it depends on the hardware). So I may avoid doing the process you describe, but it's good to known there is a solution. I may have a loo

[2022-08-09 09:41] #122 closed

[2022-08-10 12:59] moraesvi opened #123 "Class SimpleExoPlayer is not reconized"
## 💬 Class SimpleExoPlayer is not reconized

Hi, when I've updated to lasted version I can't build my application more.
The class SimpleExoPlayer is not reconized.

[2022-08-11 19:49] nafr1 commented on #123
Same issue... were you able to find a solution? I can't even find ExoPlayer class since SimpleExoPlayer has been deprecated.

[2022-08-15 10:09] martijn00 commented on #123
It seems the class has an error when trying to bind the ExoPlayer class. I can't find a fix for it yet.

[2022-08-15 15:14] moraesvi commented on #123
Please, martijn can we have another class name with same methods ?
Another way to access ExoPlayer class

[2022-08-25 19:15] #118 closed

[2022-08-25 19:15] #123 closed

[2022-08-29 14:49] #121 closed

[2022-08-29 14:49] martijn00 commented on #120
Please open a PR to add this to the bindings

[2022-08-29 14:50] #117 closed

[2022-08-29 19:23] mc0re commented on #117
Did you create an example? Can you post a link?

[2022-09-02 10:49] #120 closed

[2022-09-02 10:49] #119 closed

[2022-09-02 10:50] martijn00 commented on #119
Exoplayer is only available on Android

[2022-09-02 10:50] #110 closed

[2022-09-02 12:34] #95 closed

[2022-09-02 12:34] #111 closed

[2022-09-02 12:34] #113 closed

[2022-09-02 12:35] #115 closed

[2022-09-04 22:22] josago97 opened #128 "Cannot upgrade to version 2.18.3"
## 💬 Questions and Help
Hi,
I have created a new Xamarin Android project. Then I have set version 13 as the target version as the example comes from the repository. However, when I try to download the package from nuget I get the following error:

![image](https://user-images.githubusercontent.com/26380095/188335556-8eb124f3-0b2c-4d58-916d-6242141badf7.png)

I'm not sure if it's a bug or if from t

[2022-09-05 08:23] ArchangelWTF commented on #128
Hey there,

It is not a bug, the latest version of ExoPlayer won't work on Mono Android as it doesn't support newer parts of the language that ExoPlayer is using. The latest version that would work on that should be 2.16.1

[2022-09-05 08:40] martijn00 commented on #128
Exactly. This works as intended

[2022-09-05 11:20] josago97 commented on #128
Ok, thanks. But with version 2.16.1 I have the problem that it does not find the ExoPlayer class, as it happens here #123. Is there a way to access the ExoPlayer class?

[2022-09-05 11:29] martijn00 commented on #128
2.16 still uses the SimpleExoplayer file i believe. But look at the Exoplayer changelog to see when that happened

[2022-09-05 11:33] josago97 commented on #128
According to the changelog in version 2.16 SimpleExoplayer is deprecated and ExoPlayer should be used.

![image](https://user-images.githubusercontent.com/26380095/188439353-c3a937b7-a889-4605-9039-aaed7f3c1199.png)

[2022-09-05 12:55] ArchangelWTF commented on #128
Ah yeah, it seems that the nuget package for 2.16.1 was not built with all the latest commits in them. When I try to build 2.16 from https://github.com/ArchangelWTF/ExoPlayerXamarin/tree/2.16 the classes all seem there.

[2022-09-05 13:01] martijn00 commented on #128
Why not simply target net6-android33.0 and it is fixed?

[2022-09-05 17:12] josago97 commented on #128
Okay, looks like migrating to .net6.0-android is going to be for the best. Thanks.

[2022-09-09 21:06] cncb-gh opened #129 "Where are the releases?"
## 💬 Questions and Help

Nuget shows version 2.18.3 but the releases on here end at 2.11.7? Are they hosted somewhere else?

[2022-09-25 18:33] michalss opened #130 "MAUI Support"
Hi is there a way to make it work with MAUI cross all platforms please ?

[2022-10-04 09:36] #129 closed

[2022-10-04 09:36] martijn00 commented on #130
No this is Android only.

[2022-10-04 09:36] #130 closed

[2022-10-06 15:54] jerry08 opened #131 "'SimpleCache' does not contain a constructor"
The java source files in Google ExoPlayer has a constructor for 'SimpleCache' but the Xamarin bindings fails to create the constructor apparently. I can't use 'SimpleCache' to cache my videos.

[2022-10-07 21:57] ArchangelWTF commented on #131
Yeah, some stuff is bound to not have bindings due to it having been removed for ease of getting the rest of Exo to bind correctly. I've fixed this in my PR so it should be usable.

[2022-10-08 02:27] jerry08 commented on #131
Thanks! It's working now. I hope they merge the PR and update the nuget package soon. That would make it easier for me to use in my public project.

[2022-10-10 09:33] ArchangelWTF commented on #131
@martijn00 Could you close this as resolved and merge the PR? Thanks!

[2022-10-10 09:44] #131 closed

[2022-10-10 16:12] jerry08 opened #133 "Add guava dependency"
It would be great to add google guava dependency to ExoPlayer.Core because when initializing a new instance of the playerview, it will crash without that library. Adding the nuget package separately will work. Those who aren't aware of adding guava to their projects will encounter problems.

[2022-10-11 08:56] ArchangelWTF commented on #133
It's definitively possible, although considering when moving to the newext ExoPlayer version I already added Guava to ExoPlayer.Common https://github.com/Baseflow/ExoPlayerXamarin/commit/6aa6b2cbd85bd0b08984ce9de1805b5cd07434c9 and I thought it would just propagate to the other projects.. I assume that isn't the case however?

[2022-10-11 11:47] jerry08 commented on #133
Sorry, my bad. I just rechecked it and it works for nuget. Since the nuget packages weren't updated, I rebuilt the ExoPlayer project and referenced all the libraries in the output folder but doing that does not include the package references so I had to add them manually. The nuget pacakge takes care of them automatically. I'm patiently waiting for the update.

[2022-10-11 11:47] #133 closed

[2022-10-17 15:21] unamed000 opened #134 "Add IPlayerEventListener to ExoPlayer cause the app crash."
## 🐛 Bug Report

When i add Add IPlayerEventListener to ExoPlayer, it cause the app crashing without any stack trace.

### Expected behavior

It shouldn't crash

### Reproduction steps
- Create an exoplayer
- Create a IPlayerEventListener object like this:

[code]

### Configuration

**Version:** 2.11.8

**Platform:**
- [ ] :robot: Android

[2022-11-05 12:22] Zintom opened #135 "Sample documentation out of date."
The sample documentation uses the `SimpleExoPlayer` class which has now been deprecated. The suggestion is to use the `IExoPlayer` interface.

I am trying to work out how to instantiate an `IExoPlayer` but am having no luck as the constructors I wish to use are only available on API 33 and above and the constructors which aren't are marked as `obsolete`.

Please could some guidance be provided on

[2022-11-13 10:48] ScriptSun opened #136 "'SimpleCache' does not contain a constructor that takes 3 arguments"
## 🐛 Bug Report

Error CS1729	'SimpleCache' does not contain a constructor that takes 3 arguments
We are not able to write a new SimpleCache function its always the same error.

Devs should be able to write this code bellow
var cache = new SimpleCache(new File(MainContext.CacheDir, "/toro_cache"), new LeastRecentlyUsedCacheEvictor(200 * 1024 * 1024), new ExoDatabaseProvider(MainContext));

Error
E

[2022-11-13 19:38] ScriptSun commented on #103
The SAme issue now happening on the last version **2.18.3**

[2022-11-13 23:49] ScriptSun opened #137 "Java.Lang.AbstractMethodError: 'abstract method " Player$Listener.onTimelineChanged"
## 🐛 Bug Report

Attaching an event to **Exoplayer.Addlistener()** will cause and throw such an error no event will be working
Java.Lang.AbstractMethodError: 'abstract method "void com.google.android.exoplayer2.Player$Listener.onTimelineChanged(com.google.android.exoplayer2.Timeline, int)"'

Our project is on hold now and it's very critical I wish you can tell me how to solve it or release a simpl

[2022-11-13 23:53] ScriptSun commented on #135
var  Exoplayer = new IExoPlayer.Builder(MainContext).SetMediaSourceFactory(MainDataSource).Build();

MediaItem mediaItem = MediaItem.FromUri(Android.Net.Uri.Parse("https://wowonder.fra1.cdn.digitaloceanspaces.com/upload/videos/2022/11/PRjaipBn2Gmj4CEV1O4e_11_a509a30225863eb0c2e5cf08e343a826_video_720p_converted.mp4"));

                HttpDataSourceFactory = new DefaultHttpDataSource.Factory().Se

[2022-11-13 23:57] ScriptSun commented on #134
@martijn00 Can you release an update for it using the new  IPlayer.IListener because the interface is crashing now its buggy

[2022-11-14 16:21] ScriptSun commented on #137
@ArchangelWTF  @martijn00

[2022-11-14 21:14] ScriptSun commented on #112
@billel-bouziani can you share your code and how you fixed I am facing now the same issue on version 2.18.3 the function add listener is not working at all

[2022-11-15 08:10] doughouzlight opened #138 "Both IPlayer.IListener And IPlayer.IAnalyticsListener AbstractMethodError"
## 🐛 Bug Report

In the latest version of ExoPlayer 2.18.3, the IPlayer.IListener interface causes a crash.

Player crashes with this stack trace:

[code]

After commenting it on your xml binding there is other range of errors such onisLoading and etc ...

### Expected behavior

Should work as its the most important function of the player

### Reproduction steps

### Configuration

**Version:** 1.

[2022-11-15 08:15] doughouzlight commented on #134
strange its the mots important function in all exoplayer and yet  we are here

[2022-11-15 17:23] ArchangelWTF commented on #138
Mostly a duplicate of https://github.com/Baseflow/ExoPlayerXamarin/issues/137

[2022-11-15 17:25] ArchangelWTF commented on #137
I do believe I have a fix for it, would you have a sample for me to test it out in? As I currently do not have an app that I use internally ready for testing it (As it seemingly works in my environment)

[2022-11-15 18:15] ScriptSun commented on #137
Thanks @ArchangelWTF i would be really happy if you can fix it soon as you can as our project is on hold now ;) i have tried yesterday but I am not soo good at binding jave to c#

I would be able to send my full code for you but it's a big social app and it will be complicated for you to navigate between all of the classes.

What I did was i add your Exo solutions all on my new new xamarin .net pr

[2022-11-16 09:05] ArchangelWTF commented on #137
So the fix I tried didn't work, however then I compared as to why my ExoPlayer works in the apps that I'm using and the answer to that is I've generated empty methods like so:
`public class PlayerGlobalEventListner : Java.Lang.Object, IPlayer.IListener
    {
        // it's empty you can add any function you like
        public void OnLoadingChanged(bool isLoading)
        {
        }

        pub

[2022-11-16 09:24] ArchangelWTF commented on #134
The same fix I've used https://github.com/Baseflow/ExoPlayerXamarin/issues/137#issuecomment-1316642086 here should apply.

[2022-11-16 11:04] ScriptSun commented on #137
Thanks @ArchangelWTF I will be proceeding your fix by adding these 3 other void functions.

if you don't add them and the video size is changed the app will crash also or display a black screen here are the extra functions

[code]

[2022-11-16 12:21] ScriptSun commented on #137
Just not a related question what can cause this issue on the video Exo player on recylerview each video has it own size so some will be long some will be small when you scroll some of them will be showing the old player hight

![image](https://user-images.githubusercontent.com/26604460/202179051-e03da312-bfaf-4822-a78a-032d4f30ad99.png)

[2022-11-16 16:04] Zintom commented on #135
@ScriptSun Thanks for the example.

How are you defining `MainDataSource`?

Using a `DefaultMediaSourceFactory` with a `DefaultHttpDataSource` fails with the following error:
"_Failed resolution of: Lcom/google/common/base/Supplier;_"

[2022-11-16 16:18] janwiebe-jump commented on #103
I try 2.16.1 in order to use Xamarin.Android and have the same issue.

[2022-11-17 10:43] ArchangelWTF commented on #135
@Zintom Include Guava in your project or revert to 2.18.3, it seems a new version was pushed from my fork in which I was tinkering as to why Guava wasn't working in someone else's issue.

[2022-11-17 10:58] Zintom commented on #135
@ArchangelWTF Cheers for that. Will this be fixed in a future official release?

[2022-11-17 11:16] ArchangelWTF commented on #135
Yeah I've already made a PR just now that reverts the change just now,  just need it to be merged in.

[2022-11-17 11:19] ArchangelWTF commented on #137
I'll be honest I have no idea on that, I mostly use ExoPlayer for mostly Audio only.. So I'm afraid you're out of luck there 😅

[2022-11-18 13:25] ScriptSun commented on #131
@martijn00 any update coming soon? on the NuGet packages

[2022-11-18 13:36] martijn00 commented on #131
@ScriptSun what do you mean? I updated it 3 days ago: https://www.nuget.org/packages/Xam.Plugins.Android.ExoPlayer/2.18.4

[2022-11-18 14:09] ScriptSun commented on #131
@martijn00  Thank you, is the SDK android 33 a bit early as i saw you targeted all the Exoplayer to 33, I don't think all of us are still ready to move especially since the android company will make it available for 2020 devices on the 20th of december.

If I change it to android 12 will your assemblies work or its a requirement of exoplayer last update

[2022-11-30 14:25] #135 closed

[2022-11-30 14:26] #134 closed

[2022-11-30 16:14] janwiebe-jump commented on #137
@ArchangelWTF I have created my own PlayerListener, but it doesn't seem to be called on 2.18.6.
Even in Xamarin.MediaManager its used PlayerListener isn't called.
Does it work at your side?
I use this Xamarin version of ExoPlayer: https://github.com/janwiebe-jump/ExoPlayerXamarin/tree/feature/xamarin-android
Any ideas?